<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd
	"
>
	<bean class="controller.board.BoardController"/>
	<bean class="repository.BoardRepository"/>
	<bean class="service.board.BoardWriteService"/>
	<bean class="service.board.BoardListService"/>
	<bean class="service.board.BoardDetailService"/>
</beans>