<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd
       ">
       <bean class="controller.library.LibraryController" />
       <bean id ="libraryBoardService"  
       		class="service.libraryBoard.LibraryBoardService" />
       <bean id ="libraryBoardListService"  
       		class="service.libraryBoard.LibraryBoardListService" />
       <bean id="libraryBoardRepository" 
       		class="repository.LibraryBoardRepository" />
       	<bean id ="libraryBoardDetailService"  
       		class="service.libraryBoard.LibraryBoardDetailService" />	
       	<bean id ="libBoardModifyPro"  
       		class="service.libraryBoard.LibBoardModifyPro" />	
       		
</beans> 