<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd
       ">
	
	<!-- controller -->
	<bean class = "controller.goods.GoodsController" />
	<bean class = "controller.goods.GoodsCartController" />
	
	<!-- service -->
	<bean id = "goodsWriteService"
			class = "service.goods.GoodsWriteService" />
	<bean id = "goodsListService"
			class = "service.goods.GoodsListService" />
	<bean id = "goodsDetailService"
			class = "service.goods.GoodsDetailService" />
	<bean id = "goodsCartService"
			class = "service.goods.GoodsCartService" />
	<bean id = "goodsWishService"
			class = "service.goods.GoodsWishService" />
	<bean id = "goodsDeleteService"
			class = "service.goods.GoodsDeleteService" />
			
	<!-- repository -->
	<bean id = "goodsRepository"
			class = "repository.GoodsRepository" />
</beans>